<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      body {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      }
    </style>
    <title>Document</title>
  </head>
  <body>
    <h1>LOGIN PAGE</h1>
    <form action="/user/login" method="post">
      <label>EMAIL</label>
      <input type="text" required name="email" />
      <label>PASSWORD</label>
      <input type="text" required name="password" />

      <button type="submit">LOGIN</button>
    </form>
  </body>
</html>
